.information-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  /* background-color: green; */
}
.information {
  max-width: 100%;
  padding: 0.2em;
}
.information__brand {
  font-size: 5vw;
  color: white;
  text-decoration: underline;
}
.information__title {
  font-size: 5vw;
  color: white;
  text-align: center;
}
.information__director {
  font-size: 3vw;
  color: white;
  font-weight: bold;
  text-align: center;
}
h1 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .information-wrapper {
    margin-top: -5em;
  }
  .information__brand {
    font-size: 1.5vw;
  }
  .information__title {
    font-size: 1.5vw;
  }
  .information__director {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1024px) {
  .information__brand {
    font-size: 3vw;
  }
  .information__title {
    font-size: 2vw;
    /* margin-top: -2em; */
  }
  .information__director {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1360px) {
  .information__brand {
    font-size: 2vw;
  }
  .information__title {
    font-size: 2vw;
  }
  .information__director {
    font-size: 1.2vw;
  }
}
