.card-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.card {
  width: 100%;
  transition: transform 0.4s;
  height: 20vh;

  /* padding: 0.2em; */
}
.card__thumbnail {
  max-width: 100%;
  background-color: black;
}
/* .card:hover {
  transform: scale(1.2);
} */
.card:hover {
  transform: scale(1.02);
}
img {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.08) 14.58%,
    #000000 88.54%
  );
}
.card__category {
  position: absolute;
  top: 1em;
  z-index: 20;
}
.card__information {
  position: absolute;
  z-index: 20;
  margin-top: 70%;
}
.card__text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card__information {
    margin-top: 13%;
  }
  .card {
    height: 20vh;
  }
}
@media screen and (min-width: 1024px) {
  .card__information {
    margin-top: 20%;
  }
  .card {
    height: 30vh;
  }
}
@media screen and (min-width: 1360px) {
  .card__information {
    margin-top: 23%;
  }
  .card {
    height: 35vh;
  }
}
@media screen and (min-width: 1500px) {
  .card {
    height: 50vh;
  }
}
