.information-wrapper {
  padding-top: 1em;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__brand {
  font-size: 5vw;
  color: white;
  text-decoration: underline;
}
.information__title {
  font-size: 2.5vw;
  max-width: 60%;
  color: white;
  text-align: center;
  padding-top: 4em;

  font-family: "disket_monobold";
}
.information__director {
  font-size: 2.5vw;
  color: white;
  font-weight: bold;
  text-align: center;
  max-width: 100%;

  font-family: "disket_monobold";
}
h1 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .full-wrapper {
    display: flex;
    max-width: 70%;
    justify-content: center;
    align-items: center;
  }
  .information-wrapper {
    /* margin-top: -5em; */
    display: flex;
    width: 75%;
    margin-left: -1em;
    justify-content: center;
    /* border: 1px solid white; */
  }
  .information {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .information__title {
    text-align: center;
    max-width: 100%;
    font-size: 1.5vh;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .information__director {
    text-align: center;
    width: 100%;
    margin-top: -0.5em;
    font-size: 0.8vw;
  }
}
@media screen and (min-width: 1024px) {
  .full-wrapper {
    height: 20vh;
    /* max-width: 0; */
    /* width: auto; */
  }
  .information__brand {
    font-size: 3vw;
  }
  .information__title {
    font-size: 2.2vh;
    width: 100%;
    text-align: left;

    /* margin-top: -2em; */
  }
  .information__director {
    font-size: 1.4vh;
    text-align: left;

    /* max-width: 100%; */
    /* margin-left: -1em; */
  }
  .information {
    padding: 1em;
    padding-top: 4em;

    max-width: 100%;
  }
  .information-wrapper {
    /* margin-left: -3em; */
    width: 100%;

    /* margin-left: -4em; */
  }
}
@media screen and (min-width: 1360px) {
  .full-wrapper {
    max-width: 100%;
    justify-content: start;
    margin-left: -1.5em;
  }
  .information {
    width: 100%;
    position: relative;
    margin-left: -0.5em;
    padding-left: -1em;
    /* margin-top: -3em; */
    /* left: -4em; */
  }
  .information-wrapper {
    margin-left: 0;
  }
  .information__brand {
    font-size: 1em;
  }
  .information__title {
    font-size: 3vh;
    text-align: left;
  }
  .information__director {
    font-size: 1em;
    text-align: left;
  }
}
