.card-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.card {
  width: 100%;

  height: 20vh;

  /* padding: 0.2em; */
}
.card__thumbnail {
  max-width: 100%;
  background-color: black;
}

.card:hover img {
  opacity: 0.6;
}
/* .card:hover {
  transform: scale(1.02);
} */
img {
  transition: 0.8s ease;

  width: 100%;
}
.card__category {
  position: absolute;
  top: 1em;
  z-index: 20;
}
.card__information {
  position: absolute;
  z-index: 20;
  margin-top: 70%;
}
.card__text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card__information {
    margin-top: 13%;
    width: 100%;
  }
  .card {
    height: 17vh;
  }

  .card__text-wrapper {
    justify-content: left;
    padding-left: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .card__information {
    margin-top: 80%;
    opacity: 0%;
  }
  .card {
    height: 30vh;
    /* width: auto; */
  }

  .card:hover .card__information {
    opacity: 100%;
    transition: opacity 1s;
  }
}
@media screen and (min-width: 1360px) {
  .card {
    height: 40vh;
    /* width: auto; */
  }
}
