.card-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.card {
  /* padding: 0.2em; */
  display: flex;
  justify-content: center;
}
.card__thumbnail {
  width: 100%;
  background-color: black;
}
.card__thumbnail img {
  opacity: 75%;
}
.card:hover img {
  opacity: 0.6;
}
/* .card:hover {
  transform: scale(1.02);
} */
img {
  transition: 0.8s ease;

  width: 100%;
}
.card__category {
  opacity: 1;
  color: white;
}
.card__information {
  position: relative;
  z-index: 10;
  max-width: 100%;
  /* margin-left: 10em; */
}
.card__text-wrapper {
  text-transform: uppercase;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .card__information {
    /* width: 35vw; */
    /* height: 25vh; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card {
    height: 17vh;
    width: auto;
  }

  .card__text-wrapper {
    width: 42%;
  }
}
@media screen and (min-width: 1024px) {
  .card__information {
    opacity: 1;
    max-width: 80%;
  }
  .card {
    height: 30vh;
  }
  .card__category {
    margin-left: -4em;
  }
  .card__thumbnail img {
    opacity: 100%;
  }
  .card__text-wrapper {
    padding-left: 1em;
    width: 35%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1360px) {
  .card {
    height: 35vh;

    /* width: auto; */
  }
  .card__category {
    max-width: 35vw;
    opacity: 0;
  }
  .card__information {
    opacity: 0;
  }
  .card:hover .card__information {
    opacity: 100%;
    transition: opacity 1s;
  }
  .card:hover .card__category {
    opacity: 100%;
    transition: opacity 1s;
  }
  .card__information {
    margin-top: 0;
    display: flex;
    align-items: bottom;
    max-width: 25vw;
    /* border: 1px solid white; */
    /* padding: 2em; */
    padding-top: 2em;
  }
  .card__thumbnail img {
    max-height: 35vh;
  }
  .card__text-wrapper {
    max-height: 35vw;
    width: auto;
    padding: none;
  }
  /* .card:hover .card__information {
    opacity: 100%;
    transition: opacity 1s;
  }
  .card:hover .card__category {
    opacity: 100%;
    transition: opacity 1s;
  } */
}
