ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.cardgrid-wrapper {
  max-width: 100%;
  background-color: black;
}
.card-wrapper {
  background-color: black;
}

@media screen and (min-width: 768px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .card-object {
    width: 50vw;
  }
}
