ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.cardgrid-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.card-object {
  max-width: 80vw;
  margin-bottom: 2em;
}
.card-wrapper {
  padding-top: 2.2em;
}

@media screen and (min-width: 768px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.8em;
  }
  .card-object {
    width: 49 vw;
  }
}
