.about-wrapper__list {
  padding-top: 6em;
  display: none;
}
.list__link {
  text-decoration: underline;
  list-style-type: none;
  text-decoration-color: white;
  text-align: left;
  text-transform: uppercase;
  /* font-size: 1.5em; */
}
h4:hover {
  color: blueviolet;
}
.about__image__name {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-gap: 2em;
  margin-bottom: 2em;
  padding-left: 2em;
  width: 100vw;
}
.collaborators-title {
  margin-bottom: 2.5em;
  color: white;
  padding-left: 1em;
  display: flex;
  justify-content: center;
}
