.about__collaborators {
  max-width: 90vw;
}
.about-about {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  display: flex;
  justify-content: center;
}
h4 {
  color: white;
  display: flex;
  justify-content: center;
}
.collaborators-wrapper {
  display: flex;
  justify-content: center;
}
.about__description {
  /* border: 1px solid white; */
  padding: 2em;
  text-align: left;
  text-decoration: bold;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__executives {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about__description__p {
  text-align: left;
  margin-bottom: 1em;
  font-weight: bold;
}
.about__executives__li {
  margin-bottom: 2em;
}
.accolades-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.accolades-wrapper__li {
  padding: 1.4em;
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
hr {
  width: 80vw;
}
.accolades {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__collaborators {
    max-width: 60vw;
  }
  .accolades-wrapper {
    padding: 5em;
    padding-top: 0;
  }
  .about__description {
    padding-top: 6em;
    font-size: 1.2em;
  }
  .about__description__p {
    padding: 3em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .accolades__wrapper__img {
    max-width: 8vw;
  }
}

@media screen and (min-width: 1360px) {
  .accolades-wrapper__li {
    width: 20vw;
    margin-top: 6em;
  }

  .about__description__p {
    padding: 20em;
    margin-top: 2em;
    padding-top: 0;
    padding-bottom: 0;
    /* max-width: 50vw; */
    /* border: 1px solid white; */
  }
  .about__collaborators {
    max-width: 40vw;
  }
  .about__executives {
    margin-top: 4em;
    font-size: 0.9em;
  }
  .about__executives__h3 {
    color: rgb(240, 236, 20);
    font-size: 1em;
  }
}
