.header-wrapper {
  max-width: 100vw;
  max-height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(240, 248, 248);
  position: fixed;
  z-index: 60;
  width: 100vw;
}
.header-wrapper__ul {
  display: flex;
  flex-direction: column;
}
.header-wrapper__li {
  padding: 1em;
}
.header-wrapper__work {
  padding: 1em;
}
.header-wrapper__work:hover .header-wrapper__work__li {
  margin-top: 0.5em;
  padding-left: 1em;
  display: block;
  text-decoration: none;
}
.header-wrapper__work__li {
  display: none;
}
.header-wrapper__directors {
  padding: 1em;
}
.header-wrapper__directors:hover .header-wrapper__directors__li {
  margin-top: 0.5em;
  padding-left: 1em;
  display: block;
}
.header-wrapper__directors__li {
  display: none;
}
.header-wrapper__logo {
  max-width: 15vw;
  max-height: 7vh;
  padding-left: 0.5em;
}
.mobile-sidebar {
  background-color: black;
  right: 0;
  top: 0;
  color: white;
  width: 60vw;
  height: 100vh;
  position: absolute;
  z-index: 21;
  padding-top: 2em;
  font-size: 1.2em;
}
.mobile-sidebar-hide {
  display: none;
}
.director-names {
  color: white;
  text-decoration: none;
}
.header-wrapper_directors__li {
  margin-top: 0.5em;

  padding-left: 1em;
}
.close-sidebar-button {
  position: relative;
  font-size: 1.2em;
  left: 70%;
  border: none;
  padding: 1em;
  background-color: black;
  color: white;
}
.sidebar-button {
  padding-right: 1em;
  font-size: 2em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.header-wrapper__ul-desktop {
  display: none;
}
.link {
  text-decoration: none;
  color: white;
}
.about-link {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .sidebar-button {
    font-size: 2.3em;
  }
  .header-wrapper__ul {
    font-size: 1.4em;
  }
  .close-sidebar-button {
    font-size: 1.5em;
    left: 85%;
  }
  .header-wrapper__logo {
    max-width: 10vw;
    max-height: 6vh;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-sidebar {
    max-width: 50vw;
  }
  .header-wrapper__ul {
    margin-top: -3em;
    font-size: 1.3em;
  }
  .header-wrapper__logo {
    max-width: 7vw;
  }
}
@media screen and (min-width: 1360px) {
  .header-wrapper {
    justify-content: left;
    max-height: 5vh;
  }

  .header-wrapper__logo {
    max-width: 6vw;
    max-height: 8vh;
  }
  .sidebar-button {
    display: none;
  }
  .header-wrapper__ul-desktop {
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-height: 5vh;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
  }
  .mobile-sidebar {
    display: none;
  }
  .absolute-position {
    display: none;
  }
  .header-wrapper__work {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 4em;
    padding-top: 0.5em;
  }
  .header-wrapper__work:hover .absolute-position {
    position: relative;
    z-index: 10;
    color: white;
    background-color: black;
    display: block;
    position: relative;
    z-index: 40;
  }
  .header-wrapper__directors:hover .absolute-position {
    position: relative;
    z-index: 25;
    color: white;
    background-color: black;
    display: block;
    margin-top: 1.4em;
  }

  .header-wrapper__work:hover .header-wrapper__work__li {
    padding: 1em;
    margin-top: 1.4em;
  }
  .header-wrapper__directors__li {
    padding: 0.5em;
  }
  .header-wrapper__directors {
    padding-bottom: 4em;

    font-size: 1.1em;
    padding-top: 0.5em;
  }
  .header-wrapper__li {
    font-size: 1.1em;
    padding-top: 0.5em;
  }
}
