.header-wrapper {
  max-width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  padding-top: 1em;
  position: relative;
  z-index: 60;
}
.header-wrapper__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-wrapper__li {
  padding: 1em;
  display: flex;
  justify-content: center;
  font-family: "disket_monobold";
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: 2em;
}

.header-wrapper__work:hover .header-wrapper__work__li {
  margin-top: 0.5em;
  padding-left: 1em;
  display: block;
  text-decoration: none;
}
.header-wrapper__work__li {
  display: none;
}

.header-wrapper__directors__link {
  text-decoration: none;
  color: black;
}
.header-wrapper__directors__link:hover {
  color: blueviolet;
}
.header-wrapper__directors:hover .header-wrapper__directors__li {
  margin-top: 0.5em;
  padding-left: 1em;
  display: block;
}
.header-wrapper__directors__li {
  display: none;
}
.header-wrapper__logo {
  width: auto;
  height: 7vh;
  margin-left: -2em;
  stroke: white;
  background: none;
}
.header-wrapper__IG {
  width: auto;
  height: 4vh;
  background: none;
  padding-right: 1em;
}
.mobile-sidebar {
  left: 0;
  top: 0;
  color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 21;
  padding-top: 2em;
  font-size: 1.2em;
  background-image: url("https://timmyportfolio.s3.us-east-2.amazonaws.com/Brickhead-stills-2/About-min.png");
}
.mobile-sidebar-hide {
  display: none;
}
.director-names {
  color: white;
  text-decoration: none;
}
.header-wrapper_directors__li {
  margin-top: 0.5em;

  padding-left: 1em;
}
.close-sidebar-button {
  position: relative;
  font-size: 1.2em;
  left: 70%;
  border: none;
  padding: 1em;
  background: none;
  color: white;
}
.sidebar-button {
  /* padding-right: 1em; */
  font-size: 2em;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.header-wrapper__ul-desktop {
  display: none;
}
.link {
  text-decoration: none;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}
.link:hover {
  color: blueviolet;
}
.about-link {
  text-decoration: none;
  color: black;
}
.about-link:hover {
  color: blueviolet;
}
.sidebar-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.8em;
}
@media screen and (min-width: 768px) {
  .sidebar-button {
    font-size: 2em;
  }
  .header-wrapper__ul {
    font-size: 1.4em;
  }
  .close-sidebar-button {
    font-size: 1.5em;
    left: 85%;
  }
  .header-wrapper__logo {
    max-width: 10vw;
    margin-left: 1em;

    /* max-height: 4vh; */
  }
  .header-wrapper__li {
    font-size: 2em;
    padding: 0.5em;
  }
  .header-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 1024px) {
  /* .mobile-sidebar {
    max-width: 50vw;
  } */
  .header-wrapper__ul {
    font-size: 1.3em;
  }
  .header-wrapper__logo {
    max-width: 7vw;
  }
}
@media screen and (min-width: 1360px) {
  .header-wrapper {
    justify-content: space-between;
  }
  .mobile-sidebar {
    width: 100vw;
    /* background-size: cover; */
    right: 0;
  }
  .header-wrapper__li {
    font-size: 4.5em;
    padding: 0.1em;
  }
  .link:hover {
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
  .header-wrapper__logo {
    padding-top: 1em;
    height: 12vh;
    padding: none;
    margin-left: -2em;
    transition: transform 1.1s;
  }
  .header-wrapper__logo:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.85rem rgb(238, 38, 78));
  }
  .sidebar-button {
    padding-left: 1em;
    font-size: 2em;
    /* margin-left: -5em; */
    /* padding-right: 20em; */
  }
  .header-wrapper__IG {
    padding-right: 2em;
  }

  /* .header-wrapper {
    justify-content: center;
    max-height: 5vh;
  }

  .header-wrapper__logo {
    max-width: 6vw;
    max-height: 5vh;
  }
  .sidebar-button {
    display: none;
  }
  .header-wrapper__ul-desktop {
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-height: 5vh;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
  }
  .mobile-sidebar {
    display: none;
  }
  .absolute-position {
    display: none;
  }
  .header-wrapper__work {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 4em;
    padding-top: 0.5em;
  }
  .header-wrapper__work:hover .absolute-position {
    position: relative;
    z-index: 10;
    color: white;
    background-color: black;
    display: block;
    position: relative;
    z-index: 40;
  }
  .header-wrapper__directors:hover .absolute-position {
    position: relative;
    z-index: 25;
    color: white;
    background-color: black;
    display: block;
    margin-top: 1.4em;
  }

  .header-wrapper__work:hover .header-wrapper__work__li {
    padding: 1em;
    margin-top: 1.4em;
  }
  .header-wrapper__directors__li {
    padding: 0.5em;
  }
  .header-wrapper__directors {
    padding-bottom: 4em;

    font-size: 1.1em;
    padding-top: 0.5em;
  }
  .header-wrapper__li {
    font-size: 1.1em;
    padding-top: 0.5em;
  } */
}
