.homepage-layout {
  font-family: "disket_monobold";
}
.homepage-layout li {
  margin-top: -3.5em;
}
.homepage-item-v1 p {
  position: relative;
  top: 6em;
  left: 2em;
  max-width: 50vw;
  z-index: 2;
  text-align: left;
}
.homepage-item-v1 img {
  max-width: 70vw;
  position: relative;
  left: 6em;
  top: -3.5em;
  transition: transform 0.7s;
}
.homepage-item-v1 img:hover {
  transform: scale(1.1);
}
.homepage-item-v2 p {
  position: relative;
  top: 6em;
  left: 12em;
  max-width: 50vw;
  z-index: 2;
  text-align: left;
}
.homepage-item-v2 img {
  max-width: 60vw;
  max-height: 18vh;
  position: relative;
  right: -2em;
  top: -4em;
  transition: transform 0.7s;
}
.homepage-item-v2 img:hover {
  transform: scale(1.1);
}
.homepage-item-v1 h6 {
  font-size: 0.6em;
  z-index: 3;
  position: relative;
  top: 8em;
  left: 3.5em;
  color: white;
  max-width: 90vw;
}
.homepage-item-v2 h6 {
  max-width: 50vw;
  font-size: 0.6em;
  z-index: 4;
  position: relative;
  top: 8em;
  left: 20em;
  color: white;
  text-align: left;
}
.see-all {
  color: white;
  font-family: "disket_monoregular";
  padding: 2em;
  margin-top: -3em;
  font-size: 0.8em;
  transition: transform 0.7s;
  text-decoration: none;
}
.see-all:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .homepage-item-v1 {
    max-width: 40vw;
    margin-left: 40%;
    margin-bottom: 3em;
  }
  .homepage-item-v2 {
    max-width: 40vw;
    margin-left: 4%;

    /* margin-bottom: 3em; */
  }

  .homepage-item-v1 img {
    max-width: 40vw;
    left: 8em;
  }
  .homepage-item-v2 img {
    max-width: 40vw;
    max-height: 23vw;
  }
  .homepage-layout {
    margin-top: 2em;
  }
  .homepage-item-v2 p {
    left: 24em;
    max-width: 20vw;
    text-align: right;
  }
  .homepage-item-v2 h6 {
    left: 40em;
    max-width: 20vw;
    text-align: right;
  }
  .homepage-item-v1 p {
    max-width: 15vw;
  }
  .homepage-item-v1 h6 {
    max-width: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  .homepage-layout {
    /* border: 1px solid white; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* margin-top: 15em; */
  }

  .homepage-item-v1 img {
    max-width: 30vw;
    max-height: 35vh;
    left: 18em;
  }
  /* .homepage-item-v1 p {
    max-width: 15vw;
  }
  .homepage-item-v1 h6 {
    max-width: 15vw;
  } */
  .homepage-item-v2 img {
    max-width: 30vw;
    max-height: 35vh;
  }
  .homepage-item-v2 p {
    /* left: 30em; */
    position: relative;
    top: 6em;
    left: 2em;
    max-width: 50vw;
    z-index: 2;
    text-align: right;
  }
  .homepage-item-v2 h6 {
    /* left: 50em; */
    padding-left: 1.3em;
    z-index: 3;
    position: relative;
    /* top: 10em; */
    left: 2em;
    color: white;
    max-width: 50vw;

    text-align: right;
  }
  .homepage-item-v2-text {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: right;
  }
}
@media screen and (min-width: 1368px) {
  .homepage-layout {
    margin-top: 10em;
  }
  .homepage-item-v1 {
    max-width: 60vw;
  }

  .see-all {
    font-size: 1em;
    padding-top: 4em;
  }
  .homepage-item-v1 p {
    font-size: 2em;
    max-width: 25vw;
    position: relative;
    top: 10em;
  }
  .homepage-item-v1 h6 {
    font-size: 1em;
    max-width: 25vw;
    top: 20em;
    padding-left: 0.5em;
  }
  .homepage-item-v1-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    margin-left: -17em;
  }
  .homepage-item-v2 {
    margin-left: 6%;
    margin-bottom: 2em;
    max-width: 50%;
  }
  .homepage-item-v2 p {
    font-size: 2em;
    position: relative;
    top: 6em;
    left: 8em;
    max-width: 50vw;
    z-index: 2;
    text-align: right;
  }
  .homepage-item-v2 h6 {
    font-size: 1em;
    z-index: 3;
    position: relative;
    top: 10em;
    left: 14em;
    color: white;
    max-width: 50vw;
    padding-left: 2em;

    text-align: right;
  }
  .homepage-item-v2 img {
    max-height: 50vh;
    max-width: 50vw;
  }
  .homepage-item-v1 img {
    margin-left: -15em;
    max-width: 50vw;
    max-height: 50vh;
  }
  /* .homepage-item-v2-text {
    margin-left: 30%;
  }
  


  .homepage-item-v1 img {
    max-width: 50vw;
    max-height: 50vh;
    border: 1px solid white;
  } */
}
