.reel-main {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100vw;
  padding-bottom: 3em;
}
@media screen and (min-width: 1360px) {
  .reel-main {
    width: 100vw;
    /* max-height: 90vh; */
  }
  .category-main {
    background-color: red;
    color: white;
    border: 10px solid black;
  }
  video {
    width: 100%;
  }
}
