.photo-project-modal {
  background-color: black;
  height: 110vh;
  width: 100vw;
  top: 0;
  z-index: 1000;
  position: absolute;
}
.modal-exit {
  color: white;
  position: absolute;
  margin-left: 2em;
  margin-top: 2em;
  font-size: 1.7em;
}
.modal-exit:hover {
  cursor: pointer;
}
.photo-project-modal__content {
  position: relative;
  top: 20%;
  display: flex;
  color: white;
  width: 90vw;
  left: 5vw;
  align-items: center;
}
.modal-photo {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 3vw;
}
.photo-project-modal__content button {
  /* width: 5vw; */
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  z-index: 6;
}
.prev-button {
  font-size: 1.3em;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  font-family: "disket_monobold";
}
.next-button {
  font-size: 1.3em;
  margin-left: 0.5em;
  font-family: "disket_monobold";
}

/* .photo-project-modal__content */
@media screen and (min-width: 768px) {
  .photo-project-modal__content {
    top: 5%;
  }
  .prev-button {
    font-size: 2em;
  }
  .next-button {
    font-size: 2em;
  }
  .lightboxImage {
    height: 80vh;
    width: auto;
  }
  .modal-photo {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .photo-project-modal__content {
    top: 5%;
  }

  .prev-button {
    font-size: 2em;
  }
  .next-button {
    font-size: 2em;
  }
}
