.modal-wrapper {
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: black;
  width: 100%;
  height: 100%;

  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-video {
  height: 70vh;
  display: flex;
}
iframe {
  width: 80vw;
  border: none;
}
.modal-wrapper-back {
  background-color: black;
  border: none;
  color: white;
  position: absolute;
  font-size: 2em;
  top: 0.5em;
  left: 1em;
}
